server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/lib/promtail/positions.yml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 10s
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container'

    pipeline_stages:
      - json:
          expressions:
            level: level
            log_category: log_category
            event_type: event_type
            timestamp: '"@timestamp"'
      - labels:
          level:
          log_category:
          event_type:
      - timestamp:
          source: timestamp
          format: RFC3339Nano