spring:
  application:
    name: git-ranker-api
  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        use_sql_comments: false
        dialect: org.hibernate.dialect.MySQLDialect

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

batch:
  chunk-size: 100

management:
  server:
    port: 9090
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics, loggers, env, threaddump, heapdump
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5, 0.75, 0.95, 0.99

server:
  tomcat:
    mbeanregistry:
      enabled: true

app:
  timezone: Asia/Seoul